.cart-item{
	width: 95vw;
	height: 30vw;
	display: flex;
	flex-direction: row;
	margin: 10px;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 18px;
	background: white;
	border: none;
}

.cart-image__container{
	flex: none;
	width: 30vw;
	height: 30vw;
}

.cart-image__container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.cart-item__container{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.cart-item__header{
	display: flex;
	margin: auto;
}

.cart-item__title{
	font-weight: bold;
	font-size: medium;
	text-align: left;
	word-break: break-all;
	margin: auto 0;
}

.cart-item__footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 2px;
}

.cart-btn-container {
	flex: 2;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-right: 5px;
}

.cart-btn-container .counter{
	font-size: 14px;
	padding: 0.4rem;
}

.cart-price__container{
	flex: 2;
	text-align: left;
	font-size: 20px;
	display: inline-block;
	padding-top: 0.3rem;
}
