.list{
	background: var(--tg-theme-secondary-bg-color);
	color: var(--tg-theme-text-color);
	border-radius: 10%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.list-header{
	display: flex;
	justify-content: right;
	position: sticky;
	top: 0;
	padding-right: 20px;
}