.btn{
	border: 0;
	outline: none;
	cursor: pointer;
	color: white;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.btn.big-add {
	background-image: url('../../../public/img/cart.png');
	background-size: 24px;
	background-color: #08E8DE;
}

.btn.add {
	background-image: url('../../../public/img/plus.png');
	background-size: 25px;
	background-color: #08E8DE;
}

.btn.remove{
	background-image: url('../../../public/img/minus.png');
	background-size: 25px;
	background-color: #F28500;
}

.btn.cart{
	background-image: url('../../../public/img/cart-icon.png');
	border-radius: 25px;
	width: 55px;
	background-size: 25px;
}

.btn.back{
	background-image: url('../../../public/img/back.png');
	border-radius: 25px;
	width: 55px;
	background-size: 25px;
}

.btn:active {
	transform: scale(0.98);
}
  
/* .btn:hover{
	background-color: #576ECB;
} */