.btn{
	display: flex;
	width: 29px;
	height: 29px;
	-webkit-box-align: center;
	justify-content: center;
	border: none;
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
	border-radius: 50%;
	padding: 5px;
	background: no-repeat;
	background-position: center;
	position: relative;
}

.btn.big-add {
	background-image: url('../../../public/img/cart.png');
	background-size: 20px;
	background-color: #08E8DE;
}

.btn.add {
	background-image: url('../../../public/img/plus.png');
	background-size: 20px;
	background-color: #08E8DE;
}

.btn.remove{
	background-image: url('../../../public/img/minus.png');
	background-size: 20px;
	background-color: #F28500;
}

.btn.cart{
	background-image: url('../../../public/img/cart-icon.png');
	background-color: #08E8DE;
	border-radius: 25px;
	width: 55px;
	background-size: 25px;
}

.btn .back{
	background-image: url('../../../public/img/back.png');
	border-radius: 25px;
	width: 55px;
	background-size: 25px;
}

.btn:active {
	transform: scale(0.98);
}
  
/* .btn:hover{
	background-color: #576ECB;
} */