.reg{
	margin-top: 1rem!important;
}

.input{
	background-color: var(--tg-theme-secondary-bg-color);
	color: var(--tg-theme-text-color)
}

.form-control:focus {
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-secondary-bg-color);
    border-color: #212529;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
}