.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--tg-theme-bg-color);
	width: 150px;
	height: 250px;
	border: none;
	margin: 13px 10px;
	position: relative;
	border-radius: 5px;
}

.card__title {
	font-weight: bold;
	font-size: medium;
	text-align: center;
}

a{
	text-decoration: none;
}

.card__title .card__price {
	font-weight: lighter;
}

.image__container {
	width: 100px;
	height: 100px;
	margin: 5px auto;
}

.image__container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.btn-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 35px;
	padding: 0 5px;
}

.btn-container .counter{
	font-size: 14px;
	line-height: 20px;
	margin-top: 9px;
}

.card__price {
	text-align: center;
	font-size: 24px;
	line-height: 24px;
	font-weight: 600;
	display: inline-block;
	margin: 5px 5px;
}