.product-card-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    height: 52vw; 
    box-shadow: rgb(0 0 0 / 5%) 0px 4px 18px;
    background: white;
    margin: 3px;
    border-radius: 5px;
    overflow: hidden;
}

.active.product-card-image__container{
	margin: auto;
	height: 25vw;
	width: 25vw;
}

.product-card-image__container{
    height: 30vw;
    width: 30vw;
}

.product-card-image{
   height: 100%;
   width: 100%;
}

.product-card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card-title__container{
    display: flex;
    justify-content: center;
	min-height: 40px;
}

.product-card-title__container .product-card-title{
    text-align: center;
    font-size: 20px;
}

.product-card-content-footer__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-card-content-footer__container.active{
    display: flex;
    flex-direction: column;
}

.product-card-content-footer__container .product-card-price__container{
    margin: 0 5px;
}

.product-card-content-footer__container .product-card-price__container .product-card-price{
    font-size: 18px;
	margin-top: 10px;
}

.product-card-btn-container{
    padding: 5px;
}

.product-card-btn-container .btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-card-btn-container .counter__container{
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
}

.product-card-btn-container .counter__container .counter {
    font-size: 12px;
}