.product-card{
	margin: 5px;
}

.product-card__container{
	margin: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.product-card__container .image__container {
	width: 90vw;
}

.product-card__container .image__container img{
	width: 100%;
}

.product-card__container .title__container .title {
	font-size: 25px;
}

.product-card__container .description__container .description {
	font-size: 16px;
	text-align: left;
	line-height: 1.1;
	white-space: pre-line;
}

.product-card__footer{
	display: flex;
	z-index: 10;
	flex-direction: row;
	justify-content:space-between;
	background-color: #F0FFFF;
	position: sticky;
	bottom: 0;
}

.product-card__footer .card__price {
	font-size: 20px;
}

.product-card__footer .btns{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 5px;
}

.product-card__footer .btns.active {
	background-color: #9FE2BF;
    border-radius: 20px;
	width: 30vw;
}

.product-card__footer .counter__container{
	display: flex;
    justify-content: center;
    padding-top: 0.5rem;
}

.product-card__footer .counter__container .counter{
	font-size: 12px;
}






