.product-card{
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 5px 5px;
}

.product-card .product-card__header{
	justify-content: left;
	padding: 5px 5px;
}

.product-card__container{
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	padding: 5px 5px;
}

.product-card__container .image__container{
	width: 250px;
	height: 250px;
}

.product-card__container .title__container{
	padding: 5px 5px;
}

.product-card__container .title__container .title{
	text-align: center;
	font-weight: 600;
	font-size: 22px;
}

.product-card__container .description__container{
	padding: 5px 5px;
	margin: 5px 5px;
}

.product-card__container .description__container .description {
	text-align: center;
	font-size: 15px;
}

.product-card .product-card__footer{
	display: block;
	padding: 5px 0;
	align-items: end;
	position: sticky;
	bottom: 0;
	background: white;
}


